article {
    border: 0.25vh solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease 0s;
    min-height: 200px;
    min-width: 350px;
    aspect-ratio: 1.75;
}

h2 {
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
    padding: 0.75rem;
    margin: 0;
}

p {
    font-size: 24px;
    font-weight: normal;
    text-align: left;;
    padding: 0.75rem;
}

button {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    background:rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 1.5vh;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.5);
}

button:hover {
    background:rgba(255, 255, 255, 0.75);
    transition: background 0.3s ease 0s;
}

button:active {
    transform: translate3d(0, 0.25vh, 0);
    transition: transform 0s ease-in-out 0.1s;
}

dl {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    grid-gap: 1.5vh;
    padding: 0;
    margin: 0;
    
}

address {
    font-style: normal;
    text-align: left;
    padding: 0.75rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

address ul {
    list-style: none;
    padding: 1vh;
    margin: 1vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

address li {
    padding: 0.75rem;
}

.icon {
    width: 2.5vh;
    height: 2.5vh;
    padding: 0;
    margin: 0;
}