Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 0px 0px 0px;
    transition: transform 0.3s ease 0s;
    background-color: #222;
    color: white;
    height: 100vh;
  }
  
  Header h1 {
    font-size: 1.5em;
    text-shadow: antiquewhite 0.01rem 0 0.05rem inset;
  }
  
  Header h1:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.9s ease 0s;
  }
  
  
img {
    display: inline-block;
    width: 40vh;
    height: 40vh;
    padding: 1.5rem;
    margin: 1.75rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    border: 0.25vh solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease 0s;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    
}

figcaption {
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
    padding: 0.75rem;
    margin: 0;
}

img:hover {
    transition: transform 0.1s ease-in-out 0.1s;
    transform: scale(1.15);
}

