nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    list-style: none;
}

nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

nav ul li:hover {
    background-color: #61dafb;
    color: #222;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

nav ul li a {
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
    
}

nav ul li a:active {
    background-color: #61dafb;
}

nav ul li a:focus {
    color: #222;
    background-color: #61dafb;
}

nav ul li a:visited {
    color: silver;
}

nav ul li a:visited:hover {
    color: #222;
}




