
nav {
    background-color: #222;
    margin: 0 auto;
    padding: 0;
}

nav > ul {
    list-style: none;
    border: 0.25vh solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 1.618vh;
}

nav > ul > li {
    align-self: stretch;
}


nav ul li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1.618vh;
}
